<!doctype html>

<html lang="en">
<head>
  

  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  
  <meta charset="utf-8"> 
  <meta name="description" content="Empty">
  <meta name="author" content="Person">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <h1>
        If the text is blue, then the css file is connected!
    </h1>
    
  <script src="{{url_for('static', filename='/js/main.js')}}"></script>
</body>
</html>       